@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
    background-color: #FFD4AB;
}
#all {
  width: 1000px;
  padding: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0px;
  padding-top: 5px;
  background-color: #FFD4AB;
}

#header {
  border: 4px solid black;
  overflow: auto;
  padding-bottom: 10px;
  background-color:#FF6B58;
  border-color: #398B9E;
}

nav {
  text-align: center;
  font-family: Droid Sans;
  font-size: 20px;
  width: 70%;
  float: right;
}

h1 {
  font-family: chewy;
  font-size: 60px;
  margin: 3px;
  width: 23%;
  float: left;
  margin-left: 50px;
  text-align: center;
  color: #FFD4AB;
}

h2 {
  font-family: chewy;
  font-size: 45px;
  text-align: center;
  color:#FF6B58;
}

p {
  font-family: Droid Sans;
  font-size: 20px;
  line-height: 35px;
  text-indent: 60px;
  color: #398B9E;
}

h3 {
  font-family: chewy;
  font-size: 30px;
    color: #FF7F00;
}

h4 {
  font-family: chewy;
  font-size: 18px;
     color: #FF6B58;
}

nav a {
  margin: 50px;
     color: #FFB610;
}

ul {
  list-style-type: none;
  margin: -10px;
  color: #398B9E;
}

li {
  margin-bottom: 15px;
  margin-left: -30px;
  font-family: Droid Sans;
  font-size: 15px;
  color: #398B9E;
}

#appetizers {
  width: 450px;
  float: left;
  padding: 5px 10px;
  text-align: left;
  margin-bottom: 20px;

}

#soups {
  float: right;
  width: 450px;
  padding: 5px 10px;
  text-align: left;
  margin-bottom: 20px;
}

#sandwiches {
  float: right;
  width: 450px;
  padding: 5px 10px;
  text-align: left;
  margin-top: 50px;
}

#beansnrice {
  float: left;
  width: 450px;
  padding: 5px 10px;
  text-align: left;
}

#images {
  width:980;
  margin: auto;
  border: 2px solid black;
  padding-left: 12px;
  padding-top: 4px;
  border-color: #398B9E;
}

#widget {
  margin-left: 189px;
}
